body{
    background-color:antiquewhite;
    font-family:  cursive, serif, "Times New Roman";
    font-size: 120%;
    margin-bottom: 10px;
}
.container{
    width: 200px;
       height: 200px;
       position: relative;
    }
    .tag {
       float: left;
       position: absolute;
       left: 0px;
       top: 0px;
       z-index: 1000;
       background-color: rgb(220, 168, 105);
       padding: 5px;
       color: black;
       font-weight: bold;
    }
header{
    height: 225px;
}
.floater{
    float: left;
    max-width: 200px;
    height: auto;
}.floatr{
    float:right;
    max-width: 200px;
    height: auto;
}
h1{
    text-align: center;
    font-family: cursive, serif, "Times New Roman";    
}
h2{
    text-align: center;
    font-family: cursive, serif, "Times New Roman";
}
hr{
    border:2px solid black;
    border-radius: 25%;
}
article{
    padding-top: 3rem;
}
q{
font-style: italic;
}
img{
   width:35%
}
#wine{
 width:auto;
    height:auto;
    justify-content: right;
    padding-right: 10px;
}
#check{
    list-style:none;
    display:grid;
    justify-content: space-around;
}
.container{
    display: flex;
    justify-content: flex-end;
    width: 100%
}
#wine{
    max-width: 300px;
    height: auto;
    margin-right: 20px;
}
.list{
    display: grid;
    list-style-type: none;
    justify-content: center;
    padding-bottom: 10px;
    margin:0;
}
.list li{
    margin:5px;
}
ul{
    align-items: center;
    padding-bottom: 20px;
}
ul.list li{
    line-height: 1.5;
}
ul li{
    list-style: none;
}
.grid{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    justify-items: center;
    column-gap: 5rem;
}
footer{
    display: inline;
    padding:10px;
}
span{
    margin-right: 10px;
}
.float{
    float: left;
}
